a:hover {
	text-decoration: none;
	color: white;
}

a.producer_main_list {
	font-size: 26px;
	color: #bb77bb;
	line-height: 29px;
	font-weight: 500;
	padding: 1rem;
	text-decoration: none;
}

a.conditional_links {
	color: #ffcbf1;
}

a.wine_main_list {
	font-size: 20 px;
	color: #ccc;
}

a.wine_main_list:hover {
	color: #fff;
}

body {
	background: #222;
	color: #aaa;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #FFF;
	line-height: 60px;
	font-weight: 300;
	text-shadow: 3px 3px #444;
	padding: 20px;
	-moz-border-radius:10px;
	webkit-border-radius:10px;
	border-radius:50px;
	background: #fff; /* fallback for browsers that don't understand rgba */
	border: solid 1px #000; /* fallback for browsers that don't understand rgba */
	background-color: rgba(0,0,0,0.4); /* slighly transparent white */
	border-color: rgba(0,0,0,0.2); /*Very transparent black*/
	display:inline-flex;
	margin-top:20px;
}

h3 {
	font-size: 18px;
	color: #aaa;
	line-height: 23px;
}
input[type = number] {
	font-size: 18px;
	margin: 12px;
	box-sizing: border-box;
	background-color: #000;
	color: #aaa;
}

input[type = text] {
	font-size: 18px;
	margin: 12px;
	box-sizing: border-box;
	background-color: #000;
	color: #aaa;
}

input[type = url] {
	font-size: 18px;
	margin: 12px;
	box-sizing: border-box;
	background-color: #000;
	color: #aaa;

}

select {
	color: #aaa;
	margin: 12px;
	font-size: 18px;
	background-color: #000
}

.banner {
	height: 150px;
	background: url("/static/wineglass74x150.png");
	background-repeat: repeat-x;
	margin-bottom: 15px;
}

.button_row {
	padding-top: 10px;
}

.disabled {
	color: #888;
	padding: 15px;
}
.edit_button {

	background-color: rgba(0,0,0,0);
	border-radius:4px;
    color: green;
    font-size:20px;
    border: 1px solid #4CAF50; /* Green */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.edit_button:hover {
	color: #00ff00;
	box-shadow: 0 0 4px 4px rgba(0,256,0,0.2), 0 0 4px 4px rgba(0,256,0,0.2);
}

.edit_producer_label {
	color: #dddddd;
	padding: 10px;
}

.edit_producer_text {
	color: #dedede;
}


.login_button {

	background-color: rgba(0,0,0,0);
	border-radius:4px;
    color: green;
    font-size:20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right:16px;
    border: 1px solid #4CAF50;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.login_button:hover {
	color: #00ff00;
	box-shadow: 0 0 4px 4px rgba(0,256,0,0.2), 0 0 4px 4px rgba(0,256,0,0.2);
}
.producer_heading {
	font-size: 32px;
	color: #bb77bb;
	line-height: 29px;
	font-weight: 500;
	padding: 2rem;

}

.producer_main_list {
	font-size: 26px;
	color: #bb77bb;
	line-height: 29px;
	font-weight: 500;
	padding: 1rem;
}

.spacer_row {
	margin: 35px;
}

.wine_list {
	padding: 2rem;
	color: #dddddd;
}

.wine_image {
	max-height: 200px;
	max-width: 200px;
}

.reports {
	color: #fff;
}

.flash_message {
	font-family: "Arial", sans-serif;
	font-size:16 px;
	color: #00aa00;
	padding:10px;
	display: table-cell;
	border-style: solid;
	border-width:1px;
	list-style:none;
	margin-left: 20px;
}
.message_spacer {
	margin-bottom: 10px;
}

.signInText{
	color: #aaa;
}

.login {
	margin: 20px;
	padding: 20px;
}
.region_data {
	color: #ccc;
}
