.banner {
	height: 150px;
	background: url("/static/wineglass74x150.png");
	background-repeat: repeat-x;
}

body {
	background: #111;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #FFF;
	line-height: 60px;
	font-weight: 300;
	text-shadow: 3px 3px #444;
}

.producer_heading {
	font-size: 28px;
	color: #888;
	line-height: 29px;
	font-weight: 500;
	padding: 1rem;
}

.wine_list {
	margin-left: 1rem;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;

.flashmessages {
	font-family: "comic sans", serif;
	color: red;
}
