ul.top-menu {
	position: fixed;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60 px;
	z-index: 2;
}

li.top-menu {
	float: left;
	border-right: 1px solid white;
}

a.top-menu {
	display: block;
	padding: 8px;
	background-color: #42c3c9;
	border: 2px;
	border-color: #000;
	color: white;
	text-decoration: none;
}

a.top-menu:hover {
	background-color: #22a3a9;
}

.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;

}

.divider {
	height: 36px;
}
.divider.blue {
	background-color: #42c3c9;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;

.flashmessages {
	font-family: "comic sans", serif;
	color: red;
}
