{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container-fluid">
	<div class = "row spacer_row"> </div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Add a Wine</h1>
		</div>
	</div> <!-- end of banner div -->

{% include "messages.html" %}

<form action = "#" method = 'POST'>
	<div class = "row">
	<div class = "col-md-1"> </div>
	<div class = "col-md-11">Fields with an asterisk (*) are required. Click to select a producer from the list. If the producer is not listed, please <a href="{{url_for('addProducer')}}"> add the producer</a> first.</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">
	<select name ='producer' value = "qqq">
		<option value selected disabled = 'Please select a producer'>Select</option>
		{% for producer in producers: %}
			<option value = '{{producer.name}}'>{{producer.name}}</option>
		{% endfor %}
	</select>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">* Variety: (click to select from list)</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">
			<select name ='variety' value = "qqq">
			<option value selected disabled = 'none'>Please Select</option>
			{% for variety in varieties: %}
			<option value = '{{variety.name}}'>{{variety.name}}</option>
			{% endfor %}
			<option value = 'other'>other</option>
			</select>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">
			* Vintage: (Year in YYYY format)
		</div>
	</div>

	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">
			<input type = 'number' size ='4' name='vintage' min = '1900' max = '{{year}}'>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">Image Link:</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11"><input type = 'url' size = '50' name='imageURL' placeholder = 'Image Link'></div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">Tags: (enter any additional information, such as "Bin 55," "Bordeaux," or "sauterne")</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11"><input type ='text' size = '25' name = 'tags' placeholder = 'Tags'></div>
	</div>
	<div class = "row button_row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-2">
			<input class="edit_button" type = 'submit' value = 'Save Changes'></div>
		<div class = "col-md-1"> </div>
		<div class = "col-md-2"><button type="button" class="edit_button" onClick="location.href='{{url_for('showAllWines')}}'">Cancel</button>
		</div><!--end of button div -->
	</div><!-- end of row -->
</form>
{% endblock %}
