{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container-fluid">
	<div class = "row spacer_row"> </div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Delete a Wine</h1>
		</div>
	</div> <!-- end of banner div -->

{% include "messages.html" %}

<form action = "/delete/wine/{{wine.Wine.id}}/" method = 'POST'>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "producer_heading col-md-11"><h2>{{wine.Producer.name}}</h2></div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11">
			<div class = "wine_list">
				<h3>{{wine.Wine.vintage}} | {{wine.Variety.name}}</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-11"><h3>Delete this entry?</h3></div>
	</div>
	<div class = "row">
			<div class = "col-md-1"> </div>
			<div class = "col-md-11"> <input type = 'submit' class="edit_button" value = 'Delete'
			 onclick="return confirm('Are you sure?');"></div>
<!-- 			 <div class = "col-md-2"><button type="button" class="edit_button" onClick="location.href='{{url_for('showAllWines')}}'">Cancel</button> -->
	</div>
</form>
</div>
{% endblock %}
