{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = "container_fluid">
	<div class="row banner">
		<div class="col-md-1"> </div>
		<div class="col-md-11">
			<h1>Edit a Producer</h1>
		</div>
	</div><!-- end of div row banner -->

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="row">
					<div class = "col-md-1"> </div>
					<div class = "col-md-11"><p class = "flash_message">{{ message }}</p></div>
      			</div><!-- end of row div -->
    		{% endfor %}
		{% endif %}
    {% endwith %}


	<form action = "#" method = 'POST'>

	<div class = "row">
		<div class="col-md-1"> </div><!--spacer div -->
		<div class = "edit_producer_text col-md-5"> Add a Producer: Fields with an asterisk (*) are required.</div> <!-- end of instructions text div -->
	</div><!-- end of instructions row div -->

	<div class = "row edit_producer_label">
		<div class = "col-md-1"> </div> <!-- spacer div -->
		<div class = "col-md-5 edit_producer_label">* Producer: </div>
	</div> <!-- end of edit_producer_label 1st row -->

	<div class = "row edit_producer_input">
		<div class = "col-md-1"> </div><!-- spacer row -->
		<div class = "col-md-5 edit_producer_input">
			<input type = "text" name = "name" size = "50" label = "Producer Name" value= "{{producer.name}}">
		</div><!-- end of input div -->
	</div><!-- end of producer name input row -->

	<div class ="row edit_producer_label">
		<div class = "col-md-1"></div>
		<div class = "edit_producer_label col-md-11">Country:</div>
	</div><!-- end of country label row -->

	<div class = "row edit_producer_input">
		<div class = "col-md-1"> </div>
		<div class = "edit_producer_input col-md-11">
			<input type = "text" name = country size = "50" label = "Country" value = "{{producer.nation}}"></div>
	</div><!-- end of edit country input row -->

	<div class = "row edit_producer_label">
		<div class = "col-md-1"> </div>
		<div class = "edit_producer_label col-md-11">Region:</div>
	</div><!-- end of edit region label row -->

	<div class = "row edit_producer_input">
		<div class = "col-md-1"> </div>
		<div class = "edit_producer_input col-md-11">
			<input type = "text" name = region size = "50" label = "Region" value = "{{producer.region}}"></div>
	</div><!-- end of edit region input row -->
	<div class = "row button_row">
		<div class = "col-md-1"> </div>
		<div class = "col-md-2">
			<input class="edit_button" type = 'submit' value = 'Save Changes'>
		</div>
		<div class = "col-md-1"> </div>
		<div class = "col-md-2"><button type="button" class="edit_button" onClick="location.href='{{url_for('viewProducer', producer_id = producer.id)}}'">Cancel</button>
		</div><!--end of button div -->
	</div><!--end of button row div -->
		</form>

</div><!-- end of div container_fluid -->

{% endblock %}
