{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Edit a Producer</h1>
		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
	</div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {% endwith %}
<form action = "#" method = 'POST'>
	<p> Add a Producer: Fields with an asterisk (*) are required. </p>
	* Producer:</br>
	<input type = "text" name = "name" size = "50" label = "Producer Name" value= "{{producer.name}}">
	</br>Country:</br>
	<input type = "text" name = country size = "50" label = "Country" value = "{{producer.nation}}">
	</br>Region: </br>
	<input type = "text" name = region size = "50" label = "Region" value = "{{producer.region}}">
	<input type = 'submit' value = 'Save Changes'>
	<button value = 'Cancel'>
</form>
{% endblock %}
