{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Wines</h1>
		</div>
	</div>


	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
	</div>

The producer "{{producer}}" is not yet in the database. Would you like to add {{producer}} to WineBox? </br>
<a href = "{{ url_for('addProducer',producer)}}"> Add </a>
</br>
<a href ="/">Return to Main Page</a>

{% endblock %}
