{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container_fluid">
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Producer Info</h1>
            </div>



	{% with messages = get_flashed_messages() %}
	{% if messages %}
    <div class="col-md-4">
	{% for message in messages %}
      <li class="flash_message">{{ message }}</li>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div><!-- end of flash message div -->
    <div class = "producer_heading">
    <h2> {{producer.name}}</h2>
    </div><!-- end of producer heading div -->
    <div class = "producer_data">
            <h3>Region: {{producer.region}}</h3>
            <h3>Country: {{producer.nation}}</h3>
    </div><!-- end of producer data div -->

    {% for wine in winelist %}
                    <div class="col-md-6 producer-wine-list">
                        <p><a href = "{{url_for('viewWine', wine_id = wine.Wine.id)}}">{{wine.Wine.vintage}} | {{wine.Variety.name}} | {{wine.Wine.color}}</a></p>
                    </div> <!-- end of wine list div -->
     {% endfor %}
		{% if 'username' in session: %}
		<div class = "conditional_links">
		{% if editFlag %}
		</br>
		<a href = "{{url_for('editProducer', producer_id = producer.id)}}">Edit This Producer</a>
		</br>
		<a href = "{{url_for('deleteProducer', producer_id = producer.id)}}">Delete Producer</a>
		{% endif %}
		</div><!-- end of conditional links div -->

	{% endif %}
</div> <!-- end of container_fluid -->
{% endblock %}
