{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container_fluid">
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Producer Info</h1>
        </div>
    </div><!-- end of row banner main -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <div class = "col-md-1"> </div>
                    <div class = "col-md-11"><p class = "flash_message">{{ message }}</p></div>
                </div><!-- end of row div -->
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class = "producer_heading col-md-12">
    <h2> {{producer.name}}</h2>
    </div><!-- end of producer heading div -->
    <div class = "producer_data">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="col-md-3"><h3>Region: <span class = "region_data">{{producer.region}}</span></h3></div>
            <div class="col-md-3"><h3>Country: <span class = "region_data">{{producer.nation}}</span></h3></div>
        </div><!-- end of row div -->
    </div><!-- end of producer data div -->

    {% for wine in winelist %}
            <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11 producer_wine_list">
                        <p><a href = "{{url_for('viewWine', wine_id = wine.Wine.id)}}">{{wine.Wine.vintage}} | {{wine.Variety.name}}</a></p>
                    </div> <!-- end of wine list div -->
            </div> <!--end of row -->
     {% endfor %}
		{% if 'username' in session: %}
		<div class = "row conditional_links">
		{% if editFlag %}
            <div class="col-md-1"></div>
            <div class="col-md-3"><a href = "{{url_for('editProducer', producer_id = producer.id)}}" class = "conditional_links">Edit This Producer</a></div>
            <div class = "col-md-3"><a href = "{{url_for('deleteProducer', producer_id = producer.id)}}" class = "conditional_links">Delete This Producer</a></div>
		{% endif %}
		</div><!-- end of conditional link row -->

	{% endif %}
</div> <!-- end of container_fluid -->
{% endblock %}
