{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Producer Info</h1>

	<div class="flash_message","col-md-1">

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class = "producer_heading">
    <h2> {{producer.name}}</h2></div>
    <div class = "producer_data">
            <h3>Region: {{producer.region}}</h3>
            <h3>Country: {{producer.nation}}</h3>
    </div>

    {% for wine in winelist %}
                    <div class="row, col-md-10 producer-wine-list">
                        <p><a href = "{{url_for('viewWine', wine_id = wine.Wine.id)}}">{{wine.Wine.vintage}} | {{wine.Variety.name}} | {{wine.Wine.color}}</a></p>
                    </div>
     {% endfor %}
		{% if 'username' in session: %}
		<div class = "conditional_links">
		{% if editFlag %}
		</br>
		<a href = "{{url_for('editProducer', producer_id = producer.id)}}">Edit This Producer</a>
		</br>
		<a href = "{{url_for('deleteProducer', producer_id = producer.id)}}">Delete Producer</a>
		{% endif %}
		</div>
	{% endif %}

{% endblock %}
