{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		<div class="col-md-12">

			<h1>Wines</h1>
		</div>
	</div>




	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="flashmessages col-md-12">
		{% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %} </br>
    {% endif %}
    {% endwith %}
    </div>


	{% for producer in allProducers %}
	<div class = "producer_heading">
	<p><a href = "{{url_for('viewProducer', producer_id = producer.id)}}">{{producer.name}}</a></p>
	</div> <ul>
		{% for wine in allWines: %}
			{% if producer.id == wine.Wine.producer_id: %}
				<div class = "wine_list">
				<li><h3><a href="{{url_for('viewWine', wine_id = wine.Wine.id)}}">{{wine.Wine.vintage}} | {{wine.Variety.name}}
				 {% if wine.Wine.tag: %}
				   | {{wine.Wine.tag}}
				   {% endif %} </a>
				</h3></li></div>
			{% endif %}
		{% endfor %} </ul>
	{% endfor %}
{% endblock %}
